.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
}

.modal-box {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.modal-input,
.modal-form input {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-buttons .btn {
    background: #007bff;
    color: #fff;
    margin: 5px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

.modal-buttons .btn.cancel {
    background: #e63946;
}

.modal-buttons .btn:hover {
    opacity: 0.9;
}