@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #6200f3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body,
html {
    height: 100vh;
    font-family: Poppins-Regular, sans-serif;
}

body a {
    text-decoration: none;
    color: #000;
}

header {
    position: fixed;
    width: 100%;
    /* left: 0; */
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding:  0;
    padding-left: 50px;
    transition: all .50s ease;
    height: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* Tạo bóng mờ */
}

.logo {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    height: 100%;
}

.searchPT{
    outline: none;
    border: 1px solid #5200cd;
    padding: 5px;
    font-size: 16px;
}
.input_search{
    /* width: 100px; */
    position: relative;
}
.input_search input{
    width: 100%;
    color: #0056b3;
    padding-left: 10px;
}
.input_search i{
    position: absolute;
    font-size: 24px;
    color: #0056b3;
    right: 10px;
    top: 6px;
}
.user_item{
    padding: 5px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user_item:hover{
    background: #dbe7f3;
    /* color: #ddd; */
}
.user_item img{
    border-radius: 50%;
    
}
.user_item span{
    margin-left: 10px;
}
.sub_user_search{
    position: absolute;
    top: 37px;
   
    width: 100%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
}
.searchPT:focus {
    outline: none;
    /* Loại bỏ viền mặc định */
    box-shadow: none;
    /* Loại bỏ hiệu ứng bóng (nếu có) */
    background-color: transparent;
    /* Đảm bảo màu nền không thay đổi */
}

.logo img {
    /* width: 300px !important; */
    margin-right: 3px;
    transition: all .50 ease;
    height: 100%;
}

.logo span {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all .50 ease;
}

.navbarr {
    display: flex;
    flex: 2;
   
}

.navbarr a {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbarr a:hover {
    color: var(--main-color);
}

.navbarr a.active {
    color: var(--main-color);
}

.mainn {
    display: flex;
    flex: 0.6;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.mainn a {
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.mainn a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: #000;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media only screen and (max-width: 1350px) {

    /* MOBILE MENU */

    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbarr a {
        padding: 5px 0;
        margin: 0px 20px;
    }

}

@media only screen and (max-width: 1090px) {

    /* MOBILE MENU */

    #menu-icon {
        display: block;
    }

    .navbarr {
        position: absolute;
        top: 60%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all .50s ease;
    }

    .navbarr a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        color: #fff;
        transition: all .50 ease;
    }

    .navbarr a:hover {
        color: wheat;
        transform: translateX(7px);
    }

    .navbarr a.active {
        color: wheat;
    }

    .navbarr.open {
        right: 2%;
    }

    .logo img {
        margin-left: 10px;
        width: 30px;
        transition: all .50s ease;
    }

    .logo span {
        font-size: 1.1rem;
        transition: all .50s ease;
    }

    .mainn a {
        margin-right: 15px;
        margin-left: 5px;
        font-size: 1rem;
        font-weight: 600;
        transition: all .50s ease;
    }
}

.Person{
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Person img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.navbarr {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 5px 0;
    transition: color 0.3s ease;
    /* Hiệu ứng mờ khi đổi màu chữ */
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #1f3aeb;
    transition: width 0.3s ease;
    /* Làm mượt hiệu ứng xuất hiện */
}

.nav-link:hover {
    color: #007BFF;
    /* Đổi màu chữ khi hover */
}

.nav-link:hover::after {
    width: 100%;
    /* Hiển thị đầy đủ gạch chân khi hover */
}
.linkBox{
    position: absolute;
    height: 100px;
    width: 190px;
    /* background: #41a1dd; */
    background-color: #efecec;
    top: 70px;
    margin-right: 150px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:center;

   margin-left: 10px;
   color: #333;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    
}
.linkBox i{
    padding-right: 5px;
    padding-left: 10px;
}
.linkBox div{
    padding: 10px 0px;
    cursor: pointer;
    
}

.linkBox div:hover{
    background: #689ff1;
    color: #ddd;
}

.linkBox div:hover a{
    color: #fff;
    cursor: pointer;
}

.message_soc{
    font-size: 27px;
    color: #ddd;
    border: 2px solid #4c8beb;
    background: #4c8beb;
    padding: 7px 13px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.messageBox {
    position: absolute;
    top: 71px;
    right: 138px;
    width: 330px;
    text-align: left;
    padding: 10px 5px;
    background: #efecec;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
    overflow-y: auto;
    /* overflow-x: hidden; */
    max-height: 400px;
    
}



.messageBox h4 {
    margin-bottom: 10px;
    font-size: 20px;
    position: fixed;
    height: 50px;
    width: 310px;
    z-index: 99;
    background: #efecec;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0056b3;
    color: #0056b3;

}

.messageList {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-top: 5px;
}
.messageItem:hover{
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
    /* border-bottom: 1px solid #0056b3; */
}
.messageItem img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    object-fit: cover;
    flex: 1;
}

.messageDetails {
    flex: 5;
   
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.messageName {
    font-weight: bold;
    font-size: 15px;
}

.messageText {
    font-size: 13px;
    color: #555;
    /* overflow: hidden; */
    white-space: nowrap;
        /* Không xuống dòng */
        overflow: hidden;
        /* Cắt nội dung vượt quá */
        text-overflow: ellipsis;
        /* Hiện dấu "..." khi nội dung bị cắt */
}

/* Áp dụng cho thanh cuộn trong hộp tin nhắn */


.recent-messages::-webkit-scrollbar {
    width: 5px;
    /* Độ rộng của thanh cuộn */
}

.recent-messages::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền của track */
    border-radius: 3px;
    /* Góc bo tròn */
}

.recent-messages::-webkit-scrollbar-thumb {
    background-color: #4285dc;
    /* Màu của thanh cuộn */
    border-radius: 3px;
    /* Góc bo tròn */
}

.recent-messages::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
    /* Màu khi di chuột qua thanh cuộn */
}

.user_avatar {
    width: 50px;
    height: 50px;
}

.out{
 position: fixed;
 width: 100%;
 height: 100vh;
 /* background-color: rgb(63, 83, 110); */
 z-index: 999999;
 background-color: rgba(0, 0, 0, 0.7);
 display: flex;
 justify-content: center;
 align-items: center;
}
.out div{
    background-color: #053b74;
    width: 450px;
    /* height: 150px; */
    padding: 20px;
    color: #dbe7f3;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}
.out button{
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ddd;
    cursor: pointer;
    margin-top: 10px;
}
.out button:hover{
    background-color: #a8aeb4;

}